

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


 <a href="/">الصفحة الرئيسية</a>


<a href="/displayPlace"> الاماكن </a>

<a href="/displayEquipment">المعدات  </a>


<a href="/displayCourses"> الدورات </a>




<%if(person_s){%>

  <a href="#" data-toggle="modal" data-target="#exampleModal"
  onclick="document.getElementById('search').style.display='block'">
  البحث 
  </a>
  <% }%>


     

 <%if(place_s){%>

    <a href="#" data-toggle="modal" data-target="#exampleModal"
    onclick="document.getElementById('search').style.display='block'">
    البحث 
    </a>
    <% }%>

    <%if(info_s){%>

      <a href="#" data-toggle="modal" data-target="#exampleModal"
      onclick="document.getElementById('search').style.display='block'">
      البحث 
      </a>
      <% }%>



 

  </div>
  

  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; افتح هنا </span>
  
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>