

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    
    <%  if(main_build){%>
    <a href="/places_lessor"> الاماكن </a>



    <%  }%>




    <%  if(main_equip){%>
      <a href="/Equipment_seller"> المعدات </a>

      <%  }%>


      <%  if(courses){%>
        <a href="/courses">الدورات </a>
    
        <%  }%>




  


    <%  if(add_build){%>
    <a href="#" data-toggle="modal" data-target="#exampleModal"
    onclick="document.getElementById('search').style.display='block'"> اضافة اماكن 
  </a>

    <%  }%>

    <%  if(add_eq){%>
      <!-- لابد اعدل هنا ف الايدي  -->
 


      <a href="#" data-toggle="modal" data-target="#exampleModal2"> اضافة اداة 
    </a>
      <%  }%>


      <%  if(add_course){%>
  
   
  
  
        <a href="#" data-toggle="modal" data-target="#exampleModal3"> اضافة دورات 
      </a>
        <%  }%>


        <%  if(account_build){%>
          <a href="/account_places_lessor">حسابي </a>
      
          <%  }%>
    

    <%  if(isAuthenticated){%>
      <form id="magic-form" action="/logout" method="POST">
        <input type="hidden" name="_csrf" value=<%=csrfToken%> 
        <input type="text">

</form>
<%  }%>

      <a href="/logout"
      onclick="event.preventDefault();
      document.getElementById('magic-form').submit();">
      تسجيل خروج 
    </a>
   
      


 

  </div>
  

  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
  
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>