
body{

    font-family: 'Amiri';
    background-color:rgb(99, 99, 99);
    
    }
    
    
    
    
    
    
    
    #title{
    
          background-image:linear-gradient( rgba(150, 3, 235, 0.267) 100%, rgb(136, 136, 136)100%),url("../images/cam.jpeg")  ;
            height: 750px;
      background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      
    
     
    }
    
    
    
    li a{
    
      color: white;
    }
    h1{
    
    font-family: 'Amiri', serif;
    color: white;
    
    }
    
    .navbar{
    padding-bottom: 4.5rem;
    
    
    
    }
    
    .navbar-brand{
    font-family: 'Amiri';
    
    
    
    }
    
    .nav-item{
    
    padding: 0 19px;
    
    }
    .nav-link{
    font-family: 'Amiri';
    font-size: 19px;
    
    }
    
    
    
    
    
    
    
    
    
    /* //////////////////////// */
    #Searcher{
    
      padding: 20% 15%;
      position: relative;
    
    }
    
    
    
    .h3_search{
    
      color: white;
      font-family: 'Amiri-Bold';
    }
    .P1_search{
    
      color: white;
      
    }
    .Searcher-box {
    
      text-align: center;
      padding: 0%;
     
    }
    
    .icon_search{
    
      color: #6cc092;
      margin-bottom: 1rem
    }
    .icon_search:hover{
      color: white;
    }
    
    .im-features{
    
    width: 60%;
    transform: rotate(25deg);
    padding-top: -10%
    
    }
    .y{
    position: absolute;
    
    }
    /* ////////////////// */
    
    #owner{
    
      padding: 1% 15%;
      background-color:white ;
       position: relative;
    
    
    
    
    
    }

    .shapeButton{

        
        color:black;
      
      
      
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
      }
    
    
    .h3_owner{
    
      color:#24083D;
      font-family: 'Amiri-Bold';
    }
    .P1_owner{
    
      color: #24083D;
    }
    .section-box {
    
      text-align: center;
      padding: 5%
    }
    
    .icon_owner{

        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
      color: black;
      background-color: Transparent;
      margin-bottom: 1rem
    }
    .icon_owner:hover{
      color: #4c3263;
    }
    
    .im-features{
    
    width: 60%;
    transform: rotate(25deg);
    padding-top: -10%
    
    }
    .y{
    position: absolute;
    
    }
    
    
    
    
    
    
    
    
    
    
      /* //////// */
    
    
      #about{
    
    
        text-align: center;
        background-color: #24083D;
        color:green;
        padding: 1% 15%;
      
      }
      
      h2{
        font-family: 'Amiri-Bold';
        font-size: 3rem;
        line-height: 1.5;
      
      }
      
      .testimonials-image{
        width: 50;
        border-radius: 100%;
        margin: 20px
      }
      
    
      .carousel-item{
      
          padding: 5% 15%;
      
      
      }
    
    
    
        /* //////////////////////// */
    #footer{
    
     
      padding: 6% ;
        text-align: center;
        background-color: white;
    
    
    }
    .fa{
    
    
    margin-left:  1rem;
    }
    
    .copy{
    
    padding: 1%;
    }
    
    
    
    @media screen and (max-width: 922px) {
      #title{
    
    
        background-image:linear-gradient( rgba(150, 3, 235, 0.267) 100%, rgb(136, 136, 136)100%),url("cam.jpeg") ;
    
        height: 900px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    
    
    
      }
    
      
    
    
    
    
    }