

<link rel="stylesheet" href="css/item_photo.css">

<form action="/add_equipment" method="POST" enctype="multipart/form-data">


        


       
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">اضافة</h5>
      
            </div>
            <div class="modal-body">
             
                
            
      
      
                <div class="card">
                <article class="card-body">

                  <div class="col-lg-12">
                    <label for="catagory"> المدينة </label>
                  <select name="city" >
                    <option  value="">-- select one --</option>
                        <option value="الرياض"> الرياض </option>
                        <option value="جدة"> جدة </option>
                        <option value="مكة المكرمة "> مكة المكرمة </option>
                        <option value="المدينة المنورة"> المدينة المنورة </option>
                        <option value="الدمام"> الدمام </option>
                        <option value="الطائف"> الطائف </option>
                        <option value="تبوك"> تبوك </option>
                        <option value="بريدة"> بريدة </option>
                        <option value="خميس مشيط"> خميس مشيط </option>
                        <option value="الهفوف"> الهفوف </option>
                        <option value="حفر الباطن"> حفر الباطن </option>
                        <option value="الظهران"> الظهران </option>
                  </select>
                  </div>

                    <div class="col-lg-12">
                        <label for="catagory"> الفئة</label>
                      
                          <select name="catagory" id="sel1" onchange="giveSelection(this.value)">
                            
                            <!-- <label for="nationality"> المدينة</label> -->
                      
                            <option  value="">-select one-</option>
                                <option value="فوتوغراف"> فوتوغراف </option>
                                <option value="عدسات"> عدسات </option>
                                <option value="الصوت والفيديو"> الصوت والفيديو  </option>
                                <option value="الاضاءة ولوازم الاستديو ">  الاضاءة ولوازم الاستديو </option>
                                <option value="مايكات وسماعات "> مايكات وسماعات </option>
                                <option value="الحقائب والاحزمة "> الحقائب والاحزمة </option>
                                <option value="الحقائب والاحزمة "> الحقائب والاحزمة </option>
                      
                      
                               
                          </select>
                          
                      
                      
                          </div>
                       
                      
                          <div class="col-md-6 mb-3">
                          <label for="NameMachine">اسم الاداة</label>
                          <input type="text" class="form-control" name="NameMachine" >
                        </div>


                        <div class="col-md-6 mb-3">
                          <label for="NameCompany"> اسم الشركة </label>
                          <input type="text" class="form-control" name="NameCompany" >
                        </div>

                        <div class="col-lg-12 mb-3" style="padding-top: 1em;">

                          <label for="desc"> الصور</label> 
                        <input type="file" name="roomImage" id="roomImage" >
                        
                        <h1 style="font-size: xx-small;"> اضف بعض الصور</h1>
                        
                        </div>
   



         <!-- https://www.google.com/maps/place/ -->
         <div class="col-lg-12 mb-3" style="padding-top: 1em;">
         
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">


          <button type="submit" class="btn btn-primary btn-block">اضافة</button>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

          </div>
  





  
  
  
     
  
  
  
  
        </div>
      
    </form>