

<link rel="stylesheet" href="css/item_User.css">


<form action="/add_places_lessor" method="POST" enctype="multipart/form-data">


        


       
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">اضافة</h5>
      
            </div>
            <div class="modal-body">
             
                
            
      
      
                <div class="card">
                <article class="card-body">

        <div class="col-lg-12">
          <label for="nationality"> المدينة</label>

          <select name="nationality" id="sel1" onchange="giveSelection(this.value)">
            <option  value="">-- select one --</option>
                <option value="rya"> الرياض </option>
                <option value="jed"> جدة </option>
                <option value="makkah"> مكة المكرمة </option>
                <option value="madinah"> المدينة المنورة </option>
                <option value="dam"> الدمام </option>
                <option value="taif"> الطائف </option>
                <option value="tabok"> تبوك </option>
                <option value="bry"> بريدة </option>
                <option value="khmis"> خميس مشيط </option>
                <option value="hfof"> الهفوف </option>
                <option value="hafr"> حفر الباطن </option>
                <option value="zhar"> الظهران </option>
          </select>

          </div>


          <div class="col-lg-12 mb-3" style="padding-top: 1em;">
            <label for="dist"> الحي </label>
          <select name="dist" id="sel2">
            <option   data-option="rya"> </option>
            <option data-option="rya"> الملز </option>
            <option data-option="rya">البطحاء</option>
           <option data-option="rya"> الديرة </option>
            <option data-option="rya"> النخيل </option>
            <option data-option="rya"> عرق </option>
            <option data-option="rya"> الشعلان </option>                
            <option data-option="rya"> النخيل </option>
            <option data-option="rya"> الازدهار </option>
            <option data-option="rya"> المرقب </option>
            <option data-option="rya"> المرسلات </option>
            <option data-option="rya"> الديرة </option>
            <option data-option="rya"> السويدي </option>
            
            



            <option data-option="makkah"> الزاهر</option>
            
            <option data-option="makkah"> الحفاير </option>
            <option data-option="makkah"> العوالي </option>
            <option data-option="makkah"> الهجرة </option>
            <option data-option="makkah"> الحجون </option>
            <option data-option="makkah"> الحمراء </option>
            <option data-option="makkah"> الشرائع </option>
            <option data-option="makkah"> الخالدية </option>
            <option data-option="makkah"> الزايدي </option>
            <option data-option="makkah"> الشبيكة </option>
            <option   data-option="makkah"> </option>


            
            <option data-option="jed"> النعيم </option>
<option data-option="jed"> السامر </option>
<option data-option="jed"> النزلة </option>
<option data-option="jed"> التوفيق </option>
<option data-option="jed"> الرحاب </option>
<option data-option="jed"> البغدادية </option>
<option data-option="jed"> المروة </option>
<option data-option="jed"> البوادي </option>
<option data-option="jed"> البلد </option>
<option data-option="jed"> الروابي </option>
<option data-option="jed"></option>

            

          

<option data-option="madinah"> العزيزية </option>
<option data-option="madinah"> الربوة </option>
<option data-option="madinah"> العنبيرة </option>
<option data-option="madinah"> البحر </option>
<option data-option="madinah"> الهدا </option>
<option data-option="madinah"> الشرقية </option>
<option data-option="madinah"> عريض </option>
<option data-option="madinah"> اسكان </option>
<option data-option="madinah"> الجمعة </option>
<option data-option="madinah"> الفتح </option>
<option data-option="madinah"></option>




<option data-option="zhar"> الظهران </option>
<option data-option="zhar"> الدوحة </option>
<option data-option="zhar"> الدانة </option>
<option data-option="zhar"> الجامعة </option>
<option data-option="zhar"> القصور </option>
<option data-option="zhar"> سلطانة </option>
<option data-option="zhar"> السليمانية </option>
<option data-option="zhar"> البندرية </option>
<option data-option="zhar"></option>


<option data-option="dam"> الدواسر </option>
<option data-option="dam"> الخليج </option>
<option data-option="dam"> السوق </option>
<option data-option="dam"> البديع </option>
<option data-option="dam"> العدامة </option>
<option data-option="dam"> البادية </option>
<option data-option="dam"> العمامرة </option>
<option data-option="dam"> الربـيع </option>
<option data-option="dam"> العزيزية </option>
<option data-option="dam"> الزهــور </option>
<option data-option="dam"></option>



<option data-option="taif"> الوسام </option>
<option data-option="taif"> الرميدة </option>
<option data-option="taif"> البيعة </option>
<option data-option="taif"> الدهاس </option>
<option data-option="taif"> بدر </option>
<option data-option="taif"> الشرفية </option>
<option data-option="taif"> القيم </option>
<option data-option="taif"> حوايا </option>
<option data-option="taif"> الحمادين </option>
<option data-option="taif"> جليل </option>
<option data-option="taif"></option>




<option data-option="khmis"> الشرفية </option>
<option data-option="khmis"> بيشات مشيط </option>
<option data-option="khmis"> الرصراص </option>
<option data-option="khmis"> آل قصال </option>
<option data-option="khmis"></option>


<option data-option="hfof"> الثليثية </option>
<option data-option="hfof"> السيفة </option>
<option data-option="hfof"> منيفه </option>
<option data-option="hfof"> الناصرية </option>
<option data-option="hfof"> المربدية </option>
<option data-option="hfof"> الجوهرة </option>
<option data-option="hfof"> العاصمة </option>
<option data-option="hfof"> جوبا </option>
<option data-option="hfof"> العويمرية </option>
<option data-option="hfof"> الوسيطة </option>
<option data-option="hfof"></option>





<option data-option="hafr"> الصناعية</option>
<option data-option="hafr"> الفيحاء</option>
<option data-option="hafr"> الباطن</option>
<option data-option="hafr"> فليج</option>
<option data-option="hafr"> الروضة</option>
<option data-option="hafr"> البلدية</option>
<option data-option="hafr"> العزيزية</option>
<option data-option="hafr"> المصيف</option>
<option data-option="hafr"> المروج</option>
<option data-option="hafr"> الصفاء</option>
<option data-option="hafr"></option>





<option data-option="bry"> مشعل </option>
<option data-option="bry"> الوسيطى </option>
<option data-option="bry"> الأخضر </option>
<option data-option="bry"> الموطاء </option>
<option data-option="bry"> السلام </option>
<option data-option="bry"> الامن </option>
<option data-option="bry"> الخليج </option>
<option data-option="bry"> النور </option>
<option data-option="bry"> النخيل </option>
<option data-option="bry"> الخالدية </option>
<option data-option="bry"></option>




<option data-option="tabok"> الورود </option>
<option data-option="tabok"> المروج </option>
<option data-option="tabok"> المصيف </option>
<option data-option="tabok"> الراجحي </option>
<option data-option="tabok"> الأندلس </option>
<option data-option="tabok"> المنتزة </option>
<option data-option="tabok"> غرناطة </option>
<option data-option="tabok"> العليا </option>
<option data-option="tabok"> المنشية </option>
<option data-option="tabok"> السلام </option>
<option data-option="tabok"></option>


          </select>

          </div>

          
          <div class="col-lg-12 mb-3" style="padding-top: 1em;">
            <label for="url"> رابط الموقع</label> 
         <input type="url" name="url" placeholder="https://www.google.com.sa/maps/place" > 

               <h1 style="font-size: xx-small;"> https://www.google.com/maps/place/</h1>   


       


         </div>

         <div class="col-lg-12 mb-3" style="padding-top: 1em;">
          <label for="desc"> ملاحظات</label> 

<textarea class="textarea" type="text" name="desc"  > </textarea>
<h1 style="font-size: xx-small;">على سبيل المثال كم لديك من الغرف وكم مساحتها وبعض المعلومات الاضافية ان امكن</h1>
</div>



<div class="col-lg-12 mb-3" style="padding-top: 1em;">

  <label for="desc"> الصور</label> 
<input type="file" name="roomImage" id="roomImage" >

<h1 style="font-size: xx-small;"> اضف بعض الصور</h1>

</div>



   



         <!-- https://www.google.com/maps/place/ -->
         <div class="col-lg-12 mb-3" style="padding-top: 1em;">
         
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">


          <button type="submit" class="btn btn-primary btn-block">اضافة</button>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

          </div>
  





  
  
  
     
  
  
  
  
        </div>
      
    </form>